@{
    ViewBag.Title = "NTMS-AzureBatch";
}

<div class="jumbotron">
    <h1>NTMS Azure Batch Sample App</h1>
	<p>$env:computername</p>
	<script type="application/javascript">
    function getip(json){
      alert(json.ip); // alerts the ip address
    }
</script>

<script type="application/javascript" src="http://www.telize.com/jsonip?callback=getip"></script>
		</div>